* {
font-family: Arial, Helvetica, sans-serif;
}
html {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 0px;
    background-color: rgb(12, 12, 12);
}
.mainWrapper {
    font-size: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.titleCard p {
    font-size: 120px;
    font-weight: bold;
    text-align: center;
    color: red;
 
}
.titleCard {
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    min-width: 1900px;
    background-size: cover;
    min-height: 500px;
    background-image: url("https://c.tenor.com/U3QqFdI8svYAAAAC/pulp-fiction-confused.gif")
}

.row1 {

}

img {
    margin: 4px;
    min-width: 400px;
    max-width: 400px;
    min-height: 220px;
    max-height: 220px;
    
}
img:hover {
    transform: scale(1.2);
    transition: 0.5s;
    
    
}

.row1  {
    flex-direction: row;

}
.wrapperRow1 { 
    /* outline: magenta 2px solid; */
    align-items: center;
    display: flex;
    flex-direction: row;
    max-width: 97vw;
    min-height: 200px;
    max-height: 200px;
    overflow: scroll;
    overflow: hidden;
    /* outline: magenta 10px solid; */

    
}

.rowContainer {
    position: relative;
    /* max-height: 2px; */
    /* outline: green 10px solid; */
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    max-height: 300px;
}

.buttonContainer{
    position: absolute;
    inset: 0 0 0;
    /* border: magenta 10px solid; */
    display: flex;
    justify-content: space-between;
    /* display: none; */
    /* outline: red 10px solid; */

}

.buttonContainer button {
    color: white;
    background-color: red;
    border: none;
    min-height: 160px;
    min-width: 40px;
    cursor: pointer;

}

.buttonContainer button:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.rowTitle { 
    color: white;
    font-size: 20px;
    position: relative;
    top: 200px;
}


.hoveringCards {
    background-color: magenta;
 }